<section class="container-fluid">
  <div class="row mt-4">
    <h1 class="display-5" >Grupo sura</h1>
    <div class="col d-flex justify-content-evenly">
      <div
        class="rounded-3 text-light fw-bold "
        style="width: 100px; height: 100px; background-color: #0033a0">
        <p>#0033a0</p>
    </div>
      <div
        class="rounded-3 d-flex justify-content-center aling-items-center text-light fw-bold"
        style="width: 100px; height: 100px; background-color: #003057">
        <p>#003057</p>
      </div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #c7c9c7">
      </div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #000000">
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <h1 class="display-5" >Sura</h1>
    <div class="col d-flex justify-content-evenly">
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #4ec3e0"
      ></div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #00aec7"
      ></div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #e3e829"
      ></div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #ffe946"
      ></div>
    </div>
  </div>
  <div class="row mt-4">
    <h1 class="display-5" >Sura Asset Management</h1>
    <div class="col d-flex justify-content-evenly">
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #c7c9c7"
      ></div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #e3e829"
      ></div>
      <div
        class="rounded-3"
        style="width: 100px; height: 100px; background-color: #253746">
      </div>
    </div>
  </div>
</section>
