<section class="container-fluid">
    <div class="row mt-4 gap-5"> 
        <section class="col-md-12 d-flex justify-content-evenly">
            <button class="btn btn-primary rounded-pill px-4 fw-bold" style="background-color:#4ec3e0;">Guardar cambios</button>
            <button class="btn btn-primary rounded-pill px-4 fw-bold" style="background-color: #003057;">Guardar cambios</button>
            <button class="btn rounded-pill px-4" style="background-color: #e3e829; color:#003057">Guardar cambios</button>
        </section>
        <section class="col-md-12 d-flex justify-content-evenly">
         <button class="btn btn-outline-info rounded-pill fw-bold">Guardar cambios</button>
         <button class="btn btn-outline-info rounded-pill fw-bold" style="border-color:#003057; color:#003057">Guardar cambios</button>
         <button class="btn btn-outline-secondary fw-bold rounded-pill">Guardar cambios</button>
        </section>
        <section class="col-md-12 d-flex justify-content-evenly  align-items-center">
         <button class="btn btn-primary px-5 rounded-pill fw-bold"><i class="bi bi-search me-3"></i>Buscar</button>
         <button class="btn btn-primary px-5 rounded-pill fw-bold"><i class="bi bi-dash-lg me-3"></i>Buscar</button>
         <button class="btn btn-primary px-5 rounded-pill fw-bold"><i class="bi bi-plus-lg me-3"></i>Buscar</button>
        </section>
    </div>
</section>