<section class="container-fluid">
    <table class="table">
        <thead>
          <tr class="bg-primary">
            <th scope="col">#</th>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha nacimiento</th>   
            <th scope="col"># remisión</th>   
            <th scope="col"></th>   
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1128273111</td>       
            <td>Felipe</td>
            <td>12 nov 1999</td>
            <td>112233</td>
            <td><i class="bi bi-pencil"></i></td>
            <td><i class="bi bi-trash3"></i></td>
            <td><i class="bi bi-gear"></i></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1128273111</td>       
            <td>Felipe</td>
            <td>12 nov 1999</td>
            <td>112233</td>
            <td><i class="bi bi-pencil"></i></td>
            <td><i class="bi bi-trash3"></i></td>
            <td><i class="bi bi-gear"></i></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1128273111</td>       
            <td>Felipe</td>
            <td>12 nov 1999</td>
            <td>112233</td>
            <td><i class="bi bi-pencil"></i></td>
            <td><i class="bi bi-trash3"></i></td>
            <td><i class="bi bi-gear"></i></td>
          </tr>
        </tbody>
      </table>
</section>