<section class="container">
    <div class="row align-items-center">
      <div class="col text-center">
        <h1 class="display-5">Tipografías</h1>
        <p>
          La tipografía Sura Sans es exclusiva de Sura y pertenece a la familia
          Sans, es decir, sin terminaciones. SURA Sans que es la tipografía
          principal de la marca, es un componente esencial de la identidad de la
          misma y su correcta aplicación permite proyectar una identidad consistente
          y unificada a través de los diferentes materiales de comunicación.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h1>h1. heading</h1>
        <h2>h2. heading</h2>
        <h3>h3. heading</h3>
        <h4>h4. heading</h4>
        <h5>h5. heading</h5>
        <p>
          <strong>Lorem ipsum dolor,</strong> sit amet consectetur adipisicing elit. Mollitia
          maiores distinctio earum.
        </p>
      </div>
    </div>
  </section>
  
