<header class="bg-light text-white p-3">
  <div class="contaier-fluid">
    <div class="row">
      <div class="col d-flex justify-content-start">
        <img
          class=""
          src="https://seeklogo.com/images/S/sura-logo-7DD2EEE7F0-seeklogo.com.png"
          alt="|"
          style="max-width: 100px"
        />
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <section class="row">
    <aside class="col-md-2">
      <div class="sidebar bg-ligth py-2">
        <ul class="nav flex-column gap-3">
          <li class="nav-item">
            <a class="nav-link" routerLink="colores" routerLinkActive="active"> Colores </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tipografia" routerLinkActive="active">Tipografia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="formulario" routerLinkActive="active">Formulario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="botones" routerLinkActive="active"> Botones </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="iconos" routerLinkActive="active"> Iconos </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="tablas" routerLinkActive="active"> Tablas </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="modales" routerLinkActive="active"> Modales </a>
          </li>
        </ul>
      </div>
    </aside>
    <div class="col-md-10">
      <main class="content">
        <router-outlet></router-outlet>
      </main>
    </div>
  </section>
</div>
